@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  font-weight: 200;
  color: #0CCAC4;
}

.scroll {
  overflow: scroll;
  border: 1px solid black;
  height: 800px;
}
